$brand-primary: #0C0344;

.cancellation-status-table {
  display: flex;
  max-width: 576px;
  margin: 20px 12.5px 60px;
  flex-direction: column;

  @media only screen and (max-width: 1080px) {
    max-width: 400px;
  }

  @media only screen and (max-width: 870px) {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;

    &.hide {
      display: none;
    }
  }

  .iwtpb-button {
    background-color: transparent;
    border: 2px solid $brand-primary;
    padding: 4px 12px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 4px;
    color: $brand-primary;
    display: none;
    font-weight: bold;

    @media only screen and (max-width: 870px) {
      display: inline-block;
    }
  }

  p {
    margin-top: 0;

    &.intro {
      margin-bottom: 40px;
      line-height: 1.8;

      .red {
        color: red;
      }

      @media only screen and (max-width: 1080px) {
        padding: 0;
      }
    }

    a {
      color: #666;
      text-decoration: none;
    }

    &.bold {
      font-weight: bold;
    }
  }

  .cancellation-status-current-date {
    display: flex;
    justify-content: center;

    @media only screen and (max-width: 1080px) {
      flex-direction: column;
    }

    .cancellation-status-current-date-label {
      font-size: 32px;
      text-align: right;
      color: #d8d8d8;
      line-height: 1.2;
      padding-right: 40px;
      width: 90px;

      @media only screen and (max-width: 1080px) {
        width: auto;
        text-align: left;

        br {
          display: none;
        }
      }

      p {
        position: sticky;
        top: 100px;
      }
    }

    .cancellation-status-current-times {
      flex: 1;

      @media only screen and (max-width: 1080px) {
        margin-right: 0;
      }

      .cancellation-status-current-time {
        display: flex;
        flex-direction: row;

        .cancellation-status-current-time-label {
          font-size: 40px;
          line-height: 1;
          padding-right: 40px;

          @media only screen and (max-width: 1080px) {
            font-size: 28px;
            padding-right: 20px;
          }

          p {
            position: sticky;
            top: 100px;

            span {
              display: block;
              font-size: 14px;
              margin: 3px 0 0 3px;
              opacity: 0.5;
            }
          }
        }

        .cancellation-status-current-time-court {
          .cancellation-status-current-time-court-date-label {
            font-size: 18px;
            margin-bottom: 0.4em;
          }

          .cancellation-status-current-time-court-details {
            margin-bottom: 40px;

            p {
              margin-bottom: 0.4em;
            }
          }
        }
      }
    }

    &.is-fetching {
      .loading {
        position: relative !important;
        top: 0 !important;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          animation-duration: 1.25s;
          animation-fill-mode: forwards;
          animation-iteration-count: infinite;
          animation-name: placeHolderShimmer;
          animation-timing-function: linear;
          background: #F6F6F6;
          background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
          background-size: 800px 104px;
        }
      }
    }

    &.no-data {
      margin-bottom: 80px;

      .hide {
        opacity: 0;
      }
    }

    @keyframes placeHolderShimmer{
      0% {
        background-position: -468px 0
      }

      100% {
        background-position: 468px 0
      }
    }
  }
}
