.cancellation-status-table {
  display: flex;
  max-width: 768px;
  margin: 20px auto 0;
  flex-direction: column;

  p {
    margin-top: 0;

    &.intro {
      padding: 0 40px;
      margin-bottom: 40px;
      line-height: 1.8;

      @media only screen and (max-width: 768px) {
        padding: 0;
      }
    }
  }

  .cancellation-status-current-date {
    display: flex;
    justify-content: center;

    .cancellation-status-current-date-label {
      font-size: 32px;
      text-align: right;
      color: #d8d8d8;
      line-height: 1.2;
      padding-right: 40px;
      width: 125px;

      @media only screen and (max-width: 768px) {
        width: auto;
      }

      p {
        position: sticky;
        top: 100px;
      }
    }

    .cancellation-status-current-times {
      flex: 1;

      @media only screen and (max-width: 768px) {
        margin-right: 0;
      }

      .cancellation-status-current-time {
        display: flex;
        flex-direction: row;

        .cancellation-status-current-time-label {
          font-size: 42px;
          line-height: 1;
          padding-right: 40px;

          p {
            position: sticky;
            top: 100px;
          }
        }

        .cancellation-status-current-time-court {
          .cancellation-status-current-time-court-date-label {
            font-size: 18px;
          }

          .cancellation-status-current-time-court-details {
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}
