$header-height: 58px;
$background-color: #0C0344; 

header {
  background-color: $background-color;
  color: white;
  height: $header-height;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1 {
    font-size: 18px;
    margin: 0;
    position: relative;
    padding-left: 75px;
    line-height: $header-height;
    max-width: calc(100vw - 244px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    img {
      position: absolute;
      height: $header-height;
      left: 0;
      top: 0;
    }
  }

  button {
    background: transparent;
    border: 2px solid white;
    color: white;
    margin: 12px 0;
    padding: 0 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 124px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: white;
      color: $background-color;
    }
  }
}

.area-selection-container {
  position: fixed;
  width: calc(100% - 40px);
  background-color: #DDD;
  top: $header-height;
  transform: translateY(-100%);
  left: 0;
  color: black;
  display: flex;
  justify-content: flex-end;
  padding: 6px 20px;
  transition: transform 0.2s ease-in-out;

  &.active {
    transform: translateY(0%);
  }

  p {
    margin: 4px 28px 0 0;
  }

  .area-selection {
    display: flex;
    justify-content: flex-end;

    .form-group {
      margin-right: 30px;
      margin-top: 4px;
    }
  }

  .subscribe-button {
    border: 2px solid black;
    padding: 2px 14px;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    cursor: pointer;
    background-color: transparent;

    &:hover {
      background-color: black;
      color: #DDD;
      outline: none;
    }

    &:focus {
      outline: none;
    }
  }

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    padding-bottom: 15px;

    p {
      margin: 15px 0;
    }

    .area-selection {
      justify-content: flex-start;
      margin-bottom: 15px;
    }

    .subscribe-button {
      padding: 5px 0;
    }
  }
}
